@font-face {
  font-family: "Chinese Quotes";
  src: local("PingFang SC Regular"), local("PingFang SC"), local("SimHei"), local("Source Han Sans SC");
  unicode-range: U+2018, U+2019, U+201C, U+201D;
}

@font-face {
  font-family: "LXGW WenKai Screen";
  src: url("https://cdn.jsdelivr.net/gh/liting-yes/cdn@main/fonts/LXGWWenKaiScreenR.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/liting-yes/cdn@main/fonts/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// 字体引用 [霞鹜文楷屏幕阅读版](https://github.com/lxgw/LxgwWenKai-Screen.git) 与 JetBrains Mono  并参考 [vitepress](https://github.com/vuejs/vitepress.git) 的字体预设
$font-family-base: "Chinese Quotes", "LXGW WenKai Screen", "Inter", ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace;

:root {
  --liting-color: #334155;
  --liting-color-hover: #020617;
  --liting-color-hr: #020617;
  --liting-color-code: #334155;
  --liting-color-code-bg: #f1f5f9;
  --liting-color-bg-thead: #e2e8f0;
  --liting-color-bg-item: #f1f5f9;
  --liting-color-blockquote: #475569;
  --liting-color-bg-blockquote: #f1f5f9;

  --liting-color-link: #d97706;
  --liting-color-link-active: #fbbf24;

  --liting-paragraph-space: 1.5em;
  --liting-radius: 8px;
}

// dev 黑夜模式 , prod 黑夜模式
html.__dark .markdown-body,
body[data-theme="dark"] .markdown-body {
  --liting-color: #cbd5e1;
  --liting-color-hover: #f1f5f9;
  --liting-color-hr: #f8fafc;
  --liting-color-code: #cbd5e1;
  --liting-color-code-bg: #334155;
  --liting-color-bg-thead: #475569;
  --liting-color-bg-item: #64748b;
  --liting-color-blockquote: #94a3b8;
  --liting-color-bg-blockquote: #334155;
}

// 同步开发模式下当前掘金深色模式背景色（开发工具没更新）
html.__dark article {
  background: #181818 !important;
}

.markdown-body {
  word-break: break-word;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
  overflow-x: hidden;
  color: var(--liting-color);
  font-family: $font-family-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 2;
    margin-top: 1em;
    margin-bottom: 0.75em;

    &::before {
      content: "🪶";
      margin-right: 4px;
      font-size: 0.8em;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #fbbf24;
  }

  h3 {
    font-size: 1.375em;
    border-bottom: 1px solid #fcd34d;
  }

  h4 {
    font-size: 1.25em;
  }

  h5,
  h6 {
    font-size: 1.125em;
  }

  p {
    line-height: inherit;
    margin-top: var(--liting-paragraph-space) 0;
    transform: color 0.6s ease;

    &:hover {
      color: var(--liting-color-hover);
    }
  }

  img {
    max-width: 100%;
    border-radius: var(--liting-radius);
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.01);
    }
  }

  hr {
    border: none;
    border-top: 2px solid #f59e0b;
    margin: 2em 0;
  }

  pre {
    font-family: $font-family-mono;
    overflow: auto;
    position: relative;
    line-height: 1.75;
    background-color: var(--liting-color-code-bg);
    color: var(--liging-color-code);
    border-radius: var(--liting-radius);
    padding: 4px 8px;
    font-size: 0.875em;
    margin-right: 4px;
    transition: all 0.3s ease;
    filter: drop-shadow(0 1px 2px rgba(100, 116, 139, 0.1)) drop-shadow(0 1px 1px rgba(100, 116, 139, 0.06));

    &:hover {
      filter: drop-shadow(0 2px 4px rgba(100, 116, 139, 0.2)) drop-shadow(0 2px 2px rgba(100, 116, 139, 0.1));
    }
  }

  code {
    display: block;
    font-family: $font-family-mono;
    word-break: break-word;
    overflow-x: auto;
    color: var(--liging-color-code);
    font-size: 0.875em;
    padding: 4px 8px;
  }

  a {
    position: relative;
    text-decoration: none;
    color: var(--liting-color-link);
    border-bottom: 2px solid var(--liting-color-link);
    padding: 2px 0;
    transition: border 0.3s;

    &:hover,
    &:active {
      color: var(--liting-color-link-active);

      &::after {
        width: 100%;
      }
    }

    &::after {
      position: absolute;
      display: inline-block;
      inset: -2px 0;
      content: "";
      width: 0;
      transition: width 0.3s;
      border-bottom: 2px solid var(--liting-color-link-active);
    }
  }

  table {
    display: inline-block !important;
    font-size: 0.875em;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #fde68a;
    border-radius: var(--liting-radius);
  }

  thead {
    background: var(--liting-color-bg-thead);
    text-align: left;

    tr:first-child {
      th:first-child {
        border-top-left-radius: var(--liting-radius);
      }

      th:last-child {
        border-top-right-radius: var(--liting-radius);
      }
    }
  }

  tbody {
    tr:nth-child(2n) {
      background-color: var(--liting-color-bg-item);
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: var(--liting-radius);
      }

      td:last-child {
        border-bottom-right-radius: var(--liting-radius);
      }
    }
  }

  th,
  td {
    padding: 12px 8px;
    line-height: 1.5em;
  }

  td {
    min-width: 120px;
  }

  blockquote {
    padding: 2px 16px;
    margin: 24px 0;
    border-left: 4px solid #fcd34d;
    background-color: var(--liting-color-bg-blockquote);
    border-radius: 0 var(--liting-radius) var(--liting-radius) 0;

    & > p {
      margin: 8px 0;
      color: var(--liting-color-blockquote);
    }
  }

  ol,
  ul {
    padding-left: 28px;

    li {
      margin-bottom: 0;
      list-style: inherit;

      & .task-list-item {
        list-style: none;

        ul,
        ol {
          margin-top: 0;
        }
      }
    }

    ul,
    ol {
      margin-top: 3px;
    }
  }

  ol li {
    padding-left: 6px;
  }

  .contains-task-list {
    padding-left: 0;
  }

  .task-list-item {
    list-style: none;
  }

  @media (max-width: 720px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.5;
      margin-top: 0.75em;
      margin-bottom: 0.5em;
    }

    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.25em;
    }
    h3,
    h4,
    h5,
    h6 {
      font-size: 1em;
    }
  }
}
