@font-face {
  font-family: "Chinese Quotes";
  src: local("PingFang SC Regular"), local("PingFang SC"), local("SimHei"), local("Source Han Sans SC");
  unicode-range: U+2018, U+2019, U+201C, U+201D;
}

@font-face {
  font-family: "LXGW WenKai Screen";
  src: url("https://cdn.jsdelivr.net/gh/liting-yes/cdn@main/fonts/LXGWWenKaiScreenR.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LXGW WenKai Screen GB";
  src: url("https://cdn.jsdelivr.net/gh/liting-yes/cdn@main/fonts/LXGWWenKaiGBScreenR%20.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

// 字体引用 [霞鹜文楷屏幕阅读版](https://github.com/lxgw/LxgwWenKai-Screen.git) 并参考 [vitepress](https://github.com/vuejs/vitepress.git) 的字体预设
$font-family-base: "Chinese Quotes", "LXGW WenKai Screen", "Inter", ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-mono: "LXGW WenKai Screen GB", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$line-space: 22px;

.markdown-body {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: #333;
  font-family: $font-family-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
  }
  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
  }
  h3 {
    font-size: 18px;
    padding-bottom: 0;
  }
  h6 {
    margin-top: 5px;
  }

  p {
    line-height: inherit;
    margin-top: $line-space;
    margin-bottom: $line-space;
  }

  img {
    max-width: 100%;
  }

  hr {
    border-top: 1px solid #ddd;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  code {
    font-family: $font-family-mono;
    word-break: break-word;
    border-radius: 2px;
    overflow-x: auto;
    background-color: #fff5f5;
    color: #ff502c;
    font-size: 0.87em;
    padding: 0.065em 0.4em;
  }

  pre {
    font-family: $font-family-mono;
    overflow: auto;
    position: relative;
    line-height: 1.75;
    > code {
      font-size: 12px;
      padding: 15px 12px;
      margin: 0;
      word-break: normal;
      display: block;
      overflow-x: auto;
      color: #333;
      background: #f8f8f8;
    }
  }

  a {
    text-decoration: none;
    color: #0269c8;
    border-bottom: 1px solid #d1e9ff;
    &:hover,
    &:active {
      color: #275b8c;
    }
  }

  table {
    display: inline-block !important;
    font-size: 12px;
    width: auto;
    max-width: 100%;
    overflow: auto;
    border: solid 1px #f6f6f6;
  }
  thead {
    background: #f6f6f6;
    color: #000;
    text-align: left;
  }
  tr:nth-child(2n) {
    background-color: #fcfcfc;
  }
  th,
  td {
    padding: 12px 7px;
    line-height: 24px;
  }
  td {
    min-width: 120px;
  }

  blockquote {
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8;
    &::after {
      display: block;
      content: "";
    }
    & > p {
      margin: 10px 0;
    }
  }

  ol,
  ul {
    padding-left: 28px;
    li {
      margin-bottom: 0;
      list-style: inherit;
      & .task-list-item {
        list-style: none;
        ul,
        ol {
          margin-top: 0;
        }
      }
    }

    ul,
    ol {
      margin-top: 3px;
    }
  }
  ol li {
    padding-left: 6px;
  }

  .contains-task-list {
    padding-left: 0;
  }

  .task-list-item {
    list-style: none;
  }

  @media (max-width: 720px) {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
  }
}
